{{> navbar}}
<br>
<h3>Error</h3>
<h1>404</h1>
<h3>Recurso no Encontrado</h3>
<br>
<p>
  <img src="https://i.pinimg.com/originals/3a/11/68/3a116884945f870924f1ffd3f36fc015.png" class="img-fluid" alt="404">
</p>
{{> backhome}}