{{> navbar}}
<br>
<h3>Error</h3>
<h1>500</h1>
<h3>Moriremos todos! El Servidor falló!!!</h3>
<br>
<p>
  <img src="https://i.gifer.com/origin/a6/a6563e5c069346074ad948b48d9cf737.gif" class="img-fluid" alt="500">
</p>
{{> backhome}}