{{> navbar}}
  <h1>Se ha eliminado con éxito el Videojuego"{{nameGame}}" ({{id}})</h1>
  <br>
  <p>
    <img src="https://c.tenor.com/kQb5z-x4qpkAAAAC/game-over-insert-coins.gif" class="img-fluid" alt="eliminado">
  </p>
{{> backhome}}