<nav class="navbar navbar-light" style="background-color: #D0F166;">
  <div class="container d-flex justify-content-center">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h1">Registro de Videojuegos</span>
    </a>
    <a href="/games/create">
      <button class="btn btn-outline-dark btn-sm">
        <i class="fas fa-plus"></i>
        Agregar Videojuego
      </button>
    </a>
  </div>
</nav>